@model BookInfoApp.ViewModels.LoginViewModel
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}
<div class="container">
    <div class="row justify-content-start">
        <div class="col-md-4">
            <h2>Login</h2>

            <form asp-action="Login" method="post">
                <div class="mb-3">
                    <label asp-for="Email" class="form-label">Email</label>
                    <input type="text" asp-for="Email" class="form-control" required />
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label">Password</label>
                    <input type="password" asp-for="Password" class="form-control" required />
                </div>

                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}
